# PRÁCTICA 5
##### Sergio Rodrigo Cárdenas Rivera
### Para la ciudad de Potosí

En el achivo Excel se informacion de la produccion agricola de Bolivia. Cada grupo sera asignado con un departamento en particular. 

Se busca:


1. Por cada grupo agrícola cual es el producto que registra mayor producción en el ultimo año?

2. Cuál de los grupos ha experimentado mayor crecimiento  en los últimos 10 años?

2.1. Una vez hallado el grupo que ha experimentado mayor crecimiento identificar el producto agricola que tiene mayor registro de producción.

3. Cuál fue la evolución de la producción de los diferentes grupos de produccion en los últimos 10 años?

In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /Users/sergiorodrigo/Documents/GitHub/srodrigo23/maestria/notebooks/.venv/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/sergiorodrigo/Documents/GitHub/srodrigo23/maestria/notebooks/.venv/lib/python3.11/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

In [3]:
archivo = "data.xlsx" 
datos = pd.read_excel(archivo, header=[6], sheet_name='Potosí')
datos = datos.drop('Unnamed: 0', axis=1)
datos = datos.drop(list(range(69, 76)))
datos

,DESCRIPCIÓN,1983-1984,1984-1985,1985-1986,1986-1987,1987-1988,1988-1989,1989-1990,1990-1991,1991-1992,...,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,2018-2019,2019-2020(p),2020-2021(p),2021-2022(p),2022-2023(p)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CEREALES,55776.0,59743.0,56059.0,49586.0,52459.0,40867.0,46305.0,55148.0,44532.0,...,80648.0,81854.0,77519.0,84592.0,90482.0,85727.0,84276.158878,75549.009805,73806.466670,71838.289252
2,Avena,496.0,481.0,516.0,486.0,695.0,613.0,652.0,587.0,534.0,...,2198.0,2360.0,2270.0,2017.0,2043.0,2073.0,2141.329533,2173.183268,2089.403681,2113.591667
3,Cañahua,41.0,40.0,34.0,25.0,25.0,26.0,19.0,23.0,18.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.665205,0.631786,0.684879,0.719372
4,Cebada en grano,8783.0,8799.0,8479.0,8883.0,8479.0,8378.0,7578.0,7876.0,9364.0,...,13946.0,13586.0,13916.0,12844.0,13255.0,13355.0,13406.566762,13805.651613,13333.329518,13460.399933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,FORRAJES,9866.0,10140.0,9886.0,9797.0,12072.0,13363.0,10226.0,13267.0,9240.0,...,14039.0,15710.0,15115.0,15237.0,15438.0,15794.0,15519.949489,15472.268479,15492.171872,15647.305324
66,Alfalfa,8321.0,8570.0,7833.0,7695.0,9223.0,10258.0,7834.0,10309.0,6764.0,...,13164.0,14550.0,13949.0,13906.0,13927.0,14121.0,14099.685178,14094.538768,14029.672578,14109.175864
67,Avena berza,86.0,86.0,94.0,98.0,107.0,118.0,119.0,128.0,139.0,...,225.0,150.0,131.0,255.0,289.0,268.0,231.611971,224.207278,253.537420,248.258972
68,Cebada berza,1459.0,1483.0,1959.0,2004.0,2741.0,2987.0,2273.0,2831.0,2337.0,...,650.0,1011.0,1035.0,1076.0,1221.0,1405.0,1188.652340,1153.522434,1208.961875,1289.870488

In [4]:
data = pd.concat( [datos.iloc[:,0] , datos.iloc[:,31:] ] , axis = 1 )
data

,DESCRIPCIÓN,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,2018-2019,2019-2020(p),2020-2021(p),2021-2022(p),2022-2023(p)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CEREALES,80648.0,81854.0,77519.0,84592.0,90482.0,85727.0,84276.158878,75549.009805,73806.466670,71838.289252
2,Avena,2198.0,2360.0,2270.0,2017.0,2043.0,2073.0,2141.329533,2173.183268,2089.403681,2113.591667
3,Cañahua,0.0,0.0,0.0,1.0,1.0,1.0,0.665205,0.631786,0.684879,0.719372
4,Cebada en grano,13946.0,13586.0,13916.0,12844.0,13255.0,13355.0,13406.566762,13805.651613,13333.329518,13460.399933
...,...,...,...,...,...,...,...,...,...,...,...
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,FORRAJES,14039.0,15710.0,15115.0,15237.0,15438.0,15794.0,15519.949489,15472.268479,15492.171872,15647.305324
66,Alfalfa,13164.0,14550.0,13949.0,13906.0,13927.0,14121.0,14099.685178,14094.538768,14029.672578,14109.175864
67,Avena berza,225.0,150.0,131.0,255.0,289.0,268.0,231.611971,224.207278,253.537420,248.258972
68,Cebada berza,650.0,1011.0,1035.0,1076.0,1221.0,1405.0,1188.652340,1153.522434,1208.961875,1289.870488

In [5]:
nan_index = data[data.isnull().all(axis=1)].index.tolist()
dfs = {}

for i in range(0,len(nan_index)-1):
    dataframe = data.iloc[nan_index[i]+1:nan_index[i+1],:].reset_index(drop=True)
    dfs[dataframe.iloc[0,0]] = dataframe.iloc[1:, :]

dataframe = data.iloc[nan_index[-1]+1:,:].reset_index(drop=True)
dfs[dataframe.iloc[0,0]] = dataframe.iloc[1:, :]

In [6]:
#1
for prod in list(dfs.keys()):
  pos_max_value = dfs[prod].iloc[:,-1].idxmax()
  print(prod, " => ", dfs[prod].iloc[pos_max_value-1,0], ": ", dfs[prod].iloc[pos_max_value-1, -1])

CEREALES  =>  Maíz en grano (1) :  20862.562411651004
FRUTALES  =>  Durazno :  8546.123298479099
HORTALIZAS  =>  Haba :  10780.086710198235
OLEAGINOSAS E INDUSTRIALES  =>  Maní :  196.74709126470708
TUBÉRCULOS Y RAICES  =>  Papa :  107831.05538286266
FORRAJES  =>  Alfalfa :  14109.17586377767

In [7]:
#2
keys = list(dfs.keys())
max_crec_prod = keys[0]
max_value = np.sum(dfs[keys[0]], axis=0).reset_index().iloc[1:, 1:].sum()[0]

for i in range(1, len(keys)):
  value = np.sum(dfs[keys[i]], axis=0).reset_index().iloc[1:, 1:].sum()[0]
  if value > max_value:
    max_value = value  
    max_crec_prod = keys[i]
print(max_crec_prod, " : ", max_value)

TUBÉRCULOS Y RAICES  :  1466695.747957871

In [ ]:
#3
max_prod = 'TUBÉRCULOS Y RAICES'

pos_max_value = dfs[max_prod].iloc[:,-1].idxmax()

dfs[max_prod] = dfs[max_prod].reset_index(drop=True)
dfs[max_prod]['Total'] = dfs[max_prod].iloc[:,1:].sum(axis=1)

# print(max_prod, " => ", dfs[pos_max_value].iloc[pos_max_value-1,0], ": ", dfs[max_prod].iloc[pos_max_value-1, -1])
dfs[max_prod]

,DESCRIPCIÓN,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,2018-2019,2019-2020(p),2020-2021(p),2021-2022(p),2022-2023(p),Total
0,Camote,175.0,167.0,171.0,168.0,169.0,167.0,168.469660,168.664309,168.369910,167.909651,1.690414e+03
1,Hualuza,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000e+00
2,Oca,5952.0,6560.0,6718.0,6638.0,6728.0,7089.0,6802.378393,6755.198950,6802.588404,6936.435646,6.698160e+04
3,Papa,153989.0,119982.0,122746.0,123413.0,130600.0,166821.0,171201.822217,153134.332595,133157.194702,107831.055383,1.382875e+06
4,Papaliza,1505.0,1482.0,1518.0,1512.0,1515.0,1535.0,1516.003980,1513.572775,1518.224682,1524.789077,1.513959e+04
5,Yuca,1.0,1.0,1.0,1.0,1.0,1.0,0.676400,0.686418,0.686403,0.688404,8.737624e+00

In [27]:
pos=dfs[max_prod]['Total'].idxmax()
dfs[max_prod].iloc[pos][0]

/var/folders/m_/d8wvmff50934nzhg8gr804lr0000gn/T/ipykernel_88648/3896812935.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dfs[max_prod].iloc[pos][0]

'Papa'

In [ ]:
#4